$background: #f5f5f5;

$primary-text: #303030;
$secondary-text: #757575;

$light-gray: #eeeff2;

$background-text-hover: #e0e0e0;
$link-inactive: #81879c;
$text: #29292c;

$link-inline: #5f75bd;
$link-inline-hover: #393f6a;