$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-base: 16px;
$font-size-normal: 1rem; // 14  px
$font-size-button: 1.05rem; // 14.7  px
$font-size-sub-heading: 1.5rem; // 21px
$font-size-heading: 1.1rem; // 31.5px
$line-height: 1;
$line-height-block-text: 1.5;
$font-family-display: Roboto;
