@use 'shared/typo';
@use 'shared/colors';

html,
body {
  height: 100%;
  font-weight: typo.$font-weight-regular !important;
  font-size: typo.$font-size-base;
  font-family: typo.$font-family-display;
  line-height: typo.$line-height;

  p {
    line-height: 150%;
  }

  a,
  a:visited {
    color: mat.m2-get-color-from-palette(colors.$dnai-blue-palette, colors.$dnai-blue);
    font-size: typo.$font-size-base !important;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: colors.get-hover-color-of(colors.$dnai-blue-palette, colors.$dnai-blue);
    }
  }
}