@use "shared/responsive";
@use "shared/colors";

.about-container {
  border-bottom: 1px solid colors.$light-gray;
}

.about-text-col {
  width: 100%;
  max-width: 640px;

  @media (max-width: responsive.$breakpoint-mobile) {
    width: 100%;
  }
}
