@use "shared/typo";
@use "shared/colors";
@use "shared/responsive";

html,
body {
  font-weight: typo.$font-weight-regular;
  font-size: typo.$font-size-base;
  font-family: typo.$font-family-display;
  line-height: typo.$line-height;

  p {
    line-height: 150%;
  }

  a {
    color: colors.$text;
  }

  @media screen and (max-width: responsive.$breakpoint-mobile) {
    body {
      font-size: typo.$font-size-base;
    }
  }

  ul {
    list-style-type: disc;
    margin: 0.8em 0;
    padding-left: 1.5em;
  }

  ul li {
    margin-bottom: 0.2em;
    line-height: 1.6;
  }

  ul ul {
    margin-top: 0.2em;
    padding-left: 1.6em;
  }

  h1 {
    font-size: typo.$font-size-heading;
    margin: 0.67em 0;
    line-height: typo.$line-height-block-text;
    font-weight: typo.$font-weight-medium;
    Color: colors.$secondary-text;
  }

  h2 {
    font-size: typo.$font-size-sub-heading;
    color: colors.$primary-text;
    margin: typo.$margin-h2 0;
    line-height: typo.$line-height-block-text;
    font-weight: normal;
  }
}

.label-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  text-align: right;
}

.label-container span {
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 0.85rem;
  background-color: #f9f9f9;
  white-space: nowrap;
}

.link-border {
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 0.2rem;
  border-radius: 0.3rem;
  position: relative;
}

.link-border::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -3px;
  right: -3px;
  bottom: -2px;
  background-color: colors.$background-text-hover;
  border-radius: 0.4rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link-border:hover:not(.active)::before {
  opacity: 1;
}

.link-external {
  position: relative;
  display: inline-flex;

  .external-hover-icon {
    opacity: 0;
    width: 14px;
    height: 14px;
    color: colors.$link-inactive;
  }

  &:hover .external-hover-icon {
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-left: 2px;
    margin-top: 2px;
  }
}

.link-inline {
  color: colors.$link-inline;

  &:hover {
    color: colors.$link-inline-hover;
  }
}

.svg-icon {
  width: 32px;
  height: 32px;
  fill: colors.$link-inactive;
  transition: fill 600ms ease-out;
  margin: 0 0.9rem 0 0;
}

.svg-icon-small {
  width: 24px;
  height: 24px;
  fill: colors.$link-inactive;
  transition: fill 600ms ease-out;
  margin: 0 0.9rem 0 0;
}

.svg-icon:hover {
  fill: colors.$text;
}

.svg-icon-small:hover {
  fill: colors.$text;
}

$padding-mobile: 2rem 1rem 0.5rem 1rem;
$padding-desktop: 4rem 2rem 1rem 2rem;
$max-width: 1078px;

.app-layout {
  margin: 0 auto;
  padding: $padding-desktop;
  max-width: $max-width;

  @media (max-width: responsive.$breakpoint-mobile) {
    width: 100%;
    padding: $padding-mobile;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.content-container {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 4rem;

  @media (max-width: responsive.$breakpoint-mobile) {
    width: 100%;
    padding-top: 4.5rem;
    flex-direction: column;
  }
}

.content-table {
  padding-top: 2.5rem;
}

.content-intro {
    font-size: typo.$font-size-normal;
    color: colors.$secondary-text;
    line-height: typo.$line-height-block-text;
}

.content-table-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: flex-start;
  border-bottom: 1px solid colors.$light-gray;
  justify-content: space-between;

  @media (max-width: responsive.$breakpoint-mobile) {
    flex-direction: column;
  }
}
