@use 'shared/typo';
@use 'shared/colors';

html,
body {
  height: 100%;
  font-weight: typo.$font-weight-regular;
  font-size: typo.$font-size-base;
  font-family: typo.$font-family-display;
  line-height: typo.$line-height;

  p {
    line-height: 150%;
  }

  a,
  a:link {
    text-decoration: none;
  }
}

$padding-mobile: 1rem 2rem 1rem 2rem;
$padding-desktop: 4rem 10rem 4rem 10rem;
$max-width: 1200px;

.app-layout {
  margin: 0 auto;
  padding: $padding-mobile;
  max-width: $max-width;

  @media (min-width: 768px) {
    padding: $padding-desktop;
  }
}