@use 'shared/colors';
@use 'shared/typo';

.header-container {
  padding: 0;
  height: 180px;
}

.header-container-left {
  width: 25%;
  float: left;
  text-align: center;
  display: flex;
}

.header-logo {
  font-size: 1.4rem;
  color: colors.$primary-text;
}

.navbar {
  text-align: right;
}

.nav {
  margin: 0 0 0 0.5rem;
  font-size: 1.1rem;
  color: colors.$link-inactive;
}

.nav.active{
    color: colors.$text;
}

.header-logo::before {
  top: -5px;
  left: -8px;
  right: -8px;
  bottom: -5px;
}

.header-container-right {
  width: 75%;
  float: right;
}


