body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: left;
}

.header-container {
  background: #4caf50;
  padding: 50px 0 0 50px;
  height: 50px;
}

.header-container-left {
  width: 20%;
  float: left;
  text-align: center;
  display: flex;
  //background: #61dafb;
}

.header-logo {
  font-size: 24px;
  //color: #282c34;
}

.header-container-right {
  width: 80%;
  float: right;
  //background: #282c34;
}

.navbar {
  padding-top: 5px;
  text-align: center;
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #f0a500;
}
