@use "shared/typo";
@use "shared/colors";

.container-home {
  display: flex;
  width: 100%;
  height: fit-content;
  overflow: visible;
  border-bottom: 1px solid colors.$light-gray;
}

.introduction-container {
  flex: 6;
}
.introduction-content {
  padding-top: 20%;
  padding-bottom: 10%;
}

.introduction-text {
  font-size: typo.$font-size-heading;
  color: colors.$secondary-text;
}

.social-icons-container {
  padding-top: 3rem;
}

.svg-icon {
  width: 32px;
  height: 32px;
  fill: colors.$link-inactive;
  transition: fill 600ms ease-out;
  margin: 0 0.9rem 0 0;
}

.svg-icon:hover {
  fill: colors.$text;
}

.silhouette-container {
  flex: 4;
  display: flex;
  justify-content: center;
}

.silhouette {
  margin-top: 10%;
  width: 80%;
  height: auto;
}

.social-icons-container-mobile {
  display: none;
}

@media (max-width: 768px) {
  .container-home {
    flex-direction: column;
    height: fit-content;
  }

  .introduction-container {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
  }

  .introduction-content {
    padding: 0;
  }

  .social-icons-container {
    display: none;
  }

  .silhouette-container {
    width: 100%;
    height: auto;
    padding: 2rem;
    align-items: center;
  }

  .silhouette-img-container {
    display: flex;
    justify-content: center;
  }

  .silhouette {
    margin: 0;
    padding: 0 0 0 0;
    width: 50%;
    object-fit: contain;
  }

  .social-icons-container-mobile {
    display: flex;
    flex-direction: column;
  }

  .svg-icon {
    margin: 0 0 1rem 0;
  }
}
