@use 'shared/typo';
@use 'shared/colors';

.svg-icon {
  width: 32px;
  height: 32px;
  fill: colors.$link-inactive;
  transition: fill 600ms ease-out;
  margin-right: 12px;
}

.svg-icon:hover {
  fill: colors.$text;
}

.introduction-text {
  font-size: typo.$font-size-heading;
  font-weight: 500;
  color: colors.$secondary-text;
}

.social-icons-container {
  padding-top: 1.5rem;
}

