@use 'shared/typo';
@use 'shared/colors';

.svg-icon {
  width: 32px;
  height: 32px;
  fill: colors.$link-inactive;
  transition: fill 600ms ease-out;
  margin-right: 12px;
}

.svg-icon:hover {
  fill: colors.$text;
}

.introduction-text {
  font-size: typo.$font-size-heading;
  font-weight: 500;
  color: colors.$secondary-text;
}

.social-icons-container {
  padding-top: 3rem;
}

.container-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.column-home {
  color: white;
}

.introduction-col {
  width: 45%;
  padding-top: 140px;
}

.background-col {
  width: 55%;
  text-align: right;
  display: flex;
  justify-content: flex-end; /* aligns content to the right */
  align-items: flex-start;
  padding-right: 10%;

}

.background-image {
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 50%;
}