@use "shared/typo";
@use "shared/colors";

.pick-entry-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: flex-start;
  border-bottom: 1px solid colors.$light-gray;
}

.picks-name-column {
  min-width: 250px;
}

.picks-labels-column {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  min-width: 200px;
}

.picks-labels-column span {
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 0.85rem;
  background-color: #f9f9f9;
  white-space: nowrap;
}

.description-column {
  flex-grow: 1;
  min-width: 600px;
}
