@use "shared/typo";
@use "shared/colors";

.pick-entry-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: flex-start;
  border-bottom: 1px solid colors.$light-gray;
}

.picks-name-column {
  min-width: 250px;
}

.picks-label-column {
  min-width: 250px;
}

.description-column {
  flex-grow: 1;
  min-width: 600px;
}
