@use "shared/typo";
@use "shared/colors";

.project-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-list {
  max-width: 768px;
}

.project-container {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid colors.$light-gray;
}

.project-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem
}

.project-title-container a {
  margin: typo.$margin-h2 0;
}

.project-description-container {
  margin-top: 1rem;
}
