@use "shared/colors";
@use './shared/responsive';
@use './shared/typo';

.radar-svg {
  width: 100%;
  height: auto;
}

.radar-background {
  fill: #ffffffff;
}

.radar-ring {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}

.radar-ring-label {
  fill: colors.$secondary-text;
  font-size: 15px;
  text-anchor: middle;
}

.radar-quadrant-separator {
  fill: #ffffffff;
}

.radar-separator-line {
  stroke: #ccc;
}

.radar-quadrant-label {
  text-anchor: start;

  &.quadrant-1,
  &.quadrant-3 {
    text-anchor: end;
  }
}

.radar-blip {
  cursor: pointer;
  transition: r 0.2s ease;

  r: 8;

  &:hover {
    r: 10;
  }
}

.radar-blip-number {
  fill: white;
  font-size: 10px;
  font-weight: bold;
  pointer-events: none;
}

.radar-tooltip {
  fill: #ffffff;
  font-size: 12px;
  font-weight: 500;
  pointer-events: none;

}

.radar-tooltip-background {
  fill: rgb(58, 55, 55);
}

.radar-description {
  margin-top: 3rem;
  max-width: 800px;

  h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #0d161f;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    color: #0d161f;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #333;

    a {
      color: #109618;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;

    li {
      margin-bottom: 0.5rem;
      color: #333;
      line-height: 1.6;

      strong {
        color: #0d161f;
      }

      ul {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
    }
  }
}
